/* Style header */
.header {
    padding: 1rem 0;
  }
  
  /* Na pasku nawigacyjnym (nav-pills) */
  .nav-pills .nav-item .nav-link {
    color: #fff;
    padding: 0.75rem 1.25rem;
  }
  
  .nav-pills .nav-item .nav-link:hover {
    background-color: #0069d9;
    color: #fff;
  }
  
  /* Home Section */
  .row.align-items-center {
    display: flex;
    align-items: center;
    padding: 2rem 0;
  }
  
  .welcome-text {
    text-align: center;
  }
  
  /* Features Section */
  .features {
    margin-top: 2rem;
  }
  
  .features h2 {
    margin-bottom: 1.5rem;
  }
  
  .features img {
    max-width: 100px;
  }
  
  /* Center content */
  .text-center {
    text-align: center;
  }
  
  /* CTA Button */
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .row.align-items-center {
      flex-direction: column;
    }
    .features img {
      max-width: 80px;
    }
  }
  .course-item:hover {
    background-color: #f1f1f1;
    cursor: pointer;
  }
    